body {
  font-family: "Lato", sans-serif;
  background-image: url("library-catalogue.jpg");
}

h2 {
  font-size: 32px;
  color: green;
}

h3 {
  font-size: 32px;
  color: red;
}

.formClear {
  padding: 10px 0;
}

.shortText {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.card {
  background-color:antiquewhite !important;
}

#search{
  background: url("search.jpg") top right no-repeat;
  height:30px;
  padding-left:10px; 
  background-size: 30px;
  background-color: white;
}

.whiteSpace {
  padding: 50px 0;
  float: right;
  width: 350px;
  position: absolute;
  bottom:0px;
}

.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 170px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.result {
   position: absolute;
   width: 100%;
   max-width:870px;
   cursor: pointer;
   overflow-y: auto;
   max-height: 400px;
   box-sizing: border-box;
   z-index: 1001;
}

.highlight {
  background-color: yellow;
  border-radius: .125em;
}

.link-class:hover{
   background-color:#f1f1f1;
}
  
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.icon {
  background: dodgerblue;
  color: white;
}
